[Unit]
Description=Minecraft Bedrock Server
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/minecraft/server
Restart=always
ExecStart=/usr/bin/screen -L -Logfile /opt/minecraft/logs/minecraft_screen_logs.log -DmS minecraft /usr/bin/bash -c "bash /opt/minecraft/scripts/start_mc_server.sh"

[Install]
WantedBy=multi-user.target