[Unit]
Description=Minecraft Bedrock Server
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/minecraft/scripts
Restart=always
ExecStart=/usr/bin/screen -DmS monitor_player /usr/bin/bash -c 'bash /opt/minecraft/scripts/monitor_players_spawn.sh'

[Install]
WantedBy=multi-user.target